<div class="container content-container page">
    <div id="content">
        <div id="pageContent" class="clearfix">
            <div id="info" class="col-sm-12 contentFull">

                <ul class="cartErrors">
                    
                </ul>

                <form id="shoppingBasket" name="cart" action="/cart" method="POST" onsubmit="return onCartSubmit(e)">
                    <h1>Your Shopping Cart</h1>
                    <div class="row cartHeader">
                        <div class="col-sm-8">
                            <div class="itemHeader text-left">Item</div>
                        </div>
                        <div class="col-sm-2 hidden-xs">
                            <div class="quantityHeader text-right">Quantity</div>
                        </div>
                        <div class="col-sm-2 hidden-xs">
                            <div class="priceHeader text-right">Item price</div>
                        </div>
                    </div>
                    <% if( bouquets.length === 0 ) { %>
                        <div class="row empty">Your cart is empty.</div>
                        <% } else {
                            bouquets.forEach(function(b) { %>
                            <div class="row cartRow" id="bouquet-<%= b._id %>">
                                <div class="col-sm-8 item">
                                    <div class="row product">
                                        <div class="col-sm-4">
                                            <a href="/bouquetpage/<%= b._id %>" title="The Covent Garden">
                                                <img class="img-responsive cartImage" src="<%= b.images[0].link %>" alt="The Covent Garden">
                                            </a>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="itemName">
                                                <strong>
                                                    <%= b.name %>
                                                </strong>
                                            </div>
                                            <div class="message">
                                                <%= b.description %>
                                                    <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 quantity">
                                    <label class="hidden-lg hidden-md hidden-sm">Quantity: </label>
                                    <span class="bouquet-quantity">
                                        <%= b.quantity %>
                                    </span>
                                    <button type="button" class="btn btn-danger remove-from-cart-btn" onclick="removeBouquet(this)" id="flower-<%= b._id %>">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </div>
                                <div class="col-sm-2 price">
                                    <strong>
                                        <%= b.price %>
                                    </strong>€
                                </div>
                                <input type="hidden" name="bouquet[][id]" value="<%= b._id %>">
                                <input type="hidden" name="bouquet[][quantity]" value="<%= b.quantity %>">
                            </div>
                            <% }) } %>
                                <div class="row discountRow">
                                    <div class="col-sm-8"></div>
                                    <div class="col-sm-2 discountCol">
                                        Sub Total</div>
                                    <div class="col-sm-2 discountCol">
                                        <strong id="cart-total-price"></strong>
                                    </div>
                                    <input type="hidden" name="total" id="cart-total-price-input" value="">
                                </div>

                                <div class="row promotionRow">
                                    <div class="col-sm-12 text-right form-inline">
                                        <div class="form-group">
                                            <label for="accUser">If you have a promotional code, please enter it here:</label>
                                            <input class="input form-control" type="text" name="promotionCode">
                                            <button class="btn btn-primary" formnovalidate="formnovalidate">Apply Code</button>
                                        </div>
                                    </div>
                                </div>



                                <div class="row basketDetail">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <h2>1. Select Delivery&nbsp;/&nbsp;Collection&nbsp;Date</h2>
                                            <div class="col-sm-12 col-lg-6 selectDate hasDatepicker" id="dp1518644164777">
                                                <input type="text" class="required" name="deliveryDate" id="date">
                                            </div>
                                            <div class="col-sm-12 col-lg-6 deliveryInfo">
                                                <p>Select the date you would like your flowers delivered&nbsp;or to collect
                                                    from our store.
                                                </p>
                                                <p>
                                                    <strong>Current Time:</strong> 09:36 PM, 14 February 2018</p>
                                                <p>Same Day delivery is available before&nbsp;2pm &nbsp;our time</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <h2>2.&nbsp;Checkout</h2>
                                        <p>
                                            <input name="order.promo" id="order.promo" type="checkbox" value="1" checked="checked" style="margin-right:10px"> I would like to receive information from you on promotions. If you would prefer
                                            not to receive information* please uncheck this box.</p>

                                        <p>
                                            <input name="terms" id="terms" type="checkbox" value="1" class="terms required" style="margin-right:10px" aria-required="true">
                                            <b> I accept the terms and conditions - &nbsp;
                                                <a href="/terms-&amp;-conditions.htm" title="Terms and Conditions">View&nbsp;Terms and Conditions</a>
                                            </b>. </p>
                                        <p>
                                            <strong>Please note, you need at least one item in your basket to proceed to the checkout.</strong>
                                        </p>
                                        <div class="buttonSection">
                                            <a class="cancel returnShopping btn btn-default" href="/">
                                                <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>&nbsp;continue shopping
                                            </a>
                                            <% if( bouquets.length !== 0 ) { %>
                                                <button class="btn btn-primary checkout" type="submit" id="cart-checkout-btn">&nbsp;CHECKOUT&nbsp;
                                                    <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                                                </button>
                                            <% } %>
                                        </div>
                                        <p class="privacy">
                                            <small>* Please note, We will never release your personal details to any other companies.
                                                However we would like to keep you informed of our new promotions, products
                                                or services. For more information, you can view our&nbsp;
                                                <a href="/privacy-policy.htm" title="Privacy Policy">Privacy Policy</a>
                                            </small>
                                        </p>
                                    </div>
                                </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script src="/javascripts/cart.js"></script>