<section class="container main">
  <div class="row">
    <div class="col-sm-12 col-lg-3">
      <div class="">
        <h2>
          <%= pageName %>
        </h2>
      </div>
    </div>
    <div class="col-sm-12 col-lg-3">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Sort</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option value="1">Price: ascending</option>
          <option value="2">Price: descending</option>
        </select>
      </div>
    </div>
  </div>
  <hr>
</section>
<section class="container" id="product">
  <div class="pageDesigns">
    <div class="designList">
      <div class="row desSelection">
        <% for(var i = 0; i < bouquets.length; i++) { %>
          <div class="col-sm-6 col-md-3 productCol">

            <div class="panel panel-default designButton">
              <div class="panel-body">
                <a href="/flowerspage/<%= bouquets[i]._id %>" title="The Baker Street">
                  <img class="img-responsive center-block" src="<%= bouquets[i].images[0].link %>" alt="The Baker Street">
                  <span class="title">
                    <%= bouquets[i].name %>
                  </span>
                  <span class="price">from £45.00</span>
                </a>
                <button class="btn add-to-cart-btn" data-id="<%= bouquets[i]._id %>" >Add to cart</button>
              </div>
            </div>
          </div>
          <% } %>
      </div>
    </div>
  </div>
</section>

<script src="/javascripts/order.js"></script>