<div class="page">
  <section class="container main">
    <div class="row">
      <div class="col-sm-12 page-name">
        <h1>
          Daily flowers /
          <%= pageName %>
        </h1>
      </div>
      <div class="col-sm-12 col-lg-3">
      </div>
    </div>
    <hr>
  </section>
  <section class="container" id="product">
    <div class="pageDesigns">
      <div class="designList">
        <div class="row desSelection">
          <% bouquets.forEach(b => { %>
            <div class="col-sm-6 col-md-3 productCol">
                <div class="panel panel-default designButton">
                  <div class="panel-body">
                    <a href="/bouquetpage/<%= b._id %>" title="The Baker Street">
                      <img class="img-responsive center-block" src="<%= b.images[0].link %>" alt="The Baker Street">
                      <span class="title">
                        <%= b.name %>
                      </span>
                      <span class="price">
                        <%= b.price %>€
                      </span>
                      <p>Package for 7 days</p>
                    </a>
                  </div>
                </div>
              </div>
          <% }) %>
        </div>
      </div>
    </div>
  </section>
  <script src="/javascripts/order.js"></script>
</div>