<div class="container content-container page">
    <div id="content">
        <div id="pageContent" class="clearfix">
            <!-- Page Content -->
            <div id="info" class="col-sm-12 contentLeft">

                <div class="row" id="designBlock">

                    <form id="designDetail" name="design" method="get" action="#" novalidate="novalidate">

                        <div class="col-sm-12" id="cartMessage"></div>


                    </form>
                </div>
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-sm-6">
                        <div style="float: right;">
                            <h1>
                                <%= bouquet.name %>
                            </h1>
                            <p>
                                <%= bouquet.description %>
                            </p>
                            <div class="designPrices">
                                <div class="form-group">
                                    <div class="radio">
                                        <label>
                                            €
                                            <%= bouquet.price %>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <span>
                                <button type="button" class="btn btn-primary btnspace add-to-cart-btn" data-id="<%= bouquet.id %>">Buy</button>
                                <a class="btn btn-default" href="javascript: history.go(-1)">Back</a>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <img style="float: left;" class="mainImage" src="<%= bouquet.images[0].link %>" alt="The Covent Garden">
                    </div>
                </div>
                <!-- end of design block -->
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/order.js"></script>